<img [src]="header?.photoUrl" alt="Foto de perfil" class="profile-img" />
<h2 class="header-name">{{ header?.name }}</h2>
<p class="header-goal">{{ header?.goalLife }}</p>
<div class="contact-info">
  <p><i class="fas fa-envelope"></i> {{ header?.email }}</p>
  <p><i class="fas fa-phone"></i> {{ header?.phoneNumber }}</p>
  <p><i class="fas fa-map-marker-alt"></i> {{ header?.location }}</p>
  <p><i class="fas fa-globe"></i>
    <a [href]="header?.socialNetwork" target="_blank">{{ header?.socialNetwork }}</a>
  </p>
</div>
